@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');
*{
	box-sizing: border-box;
}
body {
margin: 0;
text-align: center;
background: #e5e5e5;
padding: 30px 0 ;
}
h3{
	color: #EEEEEE;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 40px;
}

.container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 500px;
	 height: 510px;
	margin: 0 auto;
	background: #1B244A;
	padding: 10px 0 95px 0;
	}

.home-score, .guest-score {
	background: #080001;
font-size: 90px; 
font-family: 'Cursed Timer ULiL';
font-weight: 400;
font-style: unset;
color: #F94F6D;
width: 120px;
margin: 20px;
line-height: 127px;
letter-spacing: 0em;
text-align: center;
width: 155px;
height: 120px;
left: 337px;
top: 125px;


}

button {
background: none;
border:2px solid #9AABD8;
color: #9AABD8;
border-radius: 5px;
font-size: 15px;
padding: 6px;
font-family: 'Cursed Timer ULiL';
cursor: pointer;
}

.btnctn{
position: absolute;
top: 36%;
}
#resetbtn{
	color: #F94F6D;
	border: 1px solid;
	text-align: center;
	padding-top: 8px;
	font-size: 30px;
}
